html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

#card {
    height: 340px;
    border-radius: 10px;
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

#card img {
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
}

#card h1 {
    font-size: 25px;
    margin: 10px 0px;
    font-weight: 700;
}

#card h5 {
    font-size: 24px;
    color: red;
    margin-bottom: 10px;
    margin-top: 1px;
}

#card button {
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 50px;
    border: none;
    margin: 5px;
}
/* 
#card #remove {
    background-color: #dadada;
    color: #111;
} */