#main {
    height: 100%;
    width: 100%;
    background-color: #111;
    position: relative;
}

.elem {
    height: 120px;
    width: 100%;
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.elem h1 {
    font-size: 6vw;
    color: white;
    margin-left: 20vw;
}

.elem img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
}